<html>
	<head>
		<title>chessviz</title>
				<script src="/jquery-1.9.1.min.js"></script>

		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
		<script>

		var rootImageURL = "/images";

		function displayPosition( fen_position ){
			console.log(fen_position);
			$(".pieceImg").hide();
			rows = fen_position.split("/");
			for(var row = 0; row < rows.length; row++){
				if(rows[row] == "8"){ // empty row
					continue;
				} else {
					cols = rows[row].split("");

					for(var col = 0; col < cols.length; col++){
						if(cols[col] != "."){
							cellId = col + "_" + row;
	
							var pieceColor = "black";
							if(cols[col] == cols[col].toUpperCase()){
								pieceColor = "white";
							}
	
							imageURL = rootImageURL + "/" + pieceColor + "/" + cols[col] + ".png";
							$("#" + cellId).html("<img class='pieceImg' src='" + imageURL + "'/>");
						}
					}
				}
			}

			$("#log").append("board loaded from fen:\n" + fen_position);

		}

		function ready(){
			black = false;

			for(var row = 0; row < 8; row++){
				$("#board table").append("<tr></tr>");
				for(var col = 0; col < 8; col++){
					var c;
					if(black){
						c = "black";
					} else {
						c = "white";
					}
					$("#board table tr:last").append("<td class='"+c+"' id='"+col+"_"+row+"'></td>");
					black = !black;

					if(col == 7){
						black = !black;
					}

				}

			}

			<% if @fenstring %>
				displayPosition("<%= @fenstring %>");

			<% else %>

			url = "/position";

			$.ajax({
			  url: url,
			  dataType: "jsonp",
			  success: function (data) {
			  	console.log(data);
			  	console.log(data.board );
			  	console.log(data.error);
			  	console.log(data.board == undefined);
				if(data.board == undefined){
					$("#log").append(data.error);

				} else {

					displayPosition(data.board.fen);


				}
			  }
			});

			<% end %>


			$("#fen-input").submit(function(){
				console.log($("#fen-input textarea").val());
				displayPosition($("#fen-input textarea").val());

				return false;
			});



		}
		document.addEventListener("DOMContentLoaded", ready, false);

		</script>
		<style>
			#board table td {
				width: 65px;
				height:65px;
			}

			table, th, td {
				border-collapse:collapse;
				border: 1px solid black;
			}
			.black {
				background-color: #000;
			}

			#board img {
				width: 60px;
				height: 60px;
			}

			#board {
				float: left;
				margin-right: 20px;

			}

			#log {
				float: left;
				font-family: courier;
				white-space: pre;
			}

			#fen-input textarea {
				width: 400px;
				height: 50px;
			}

		</style>
	</head>
	<body>
		<div id="board">
			<table>
			</table>

		</div>
		<br style="clear;both"/>
		<form id="fen-input">
			<p><label>FEN input</label></p>
			<textarea></textarea>
			<p><input type="submit" value="display" /></p>

		</form>

		<p id="log"></p>
	</body>
</html>