<html>
	<head>
		<title>chessviz</title>
				<script src="/jquery-1.9.1.min.js"></script>

		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
		<script>

		var rootImageURL = "/images";

		function displayPosition( fen_position ){
			console.log(fen_position);
			$(".pieceImg").hide();
			parts = fen_position.split(" ");
			updateTurn(parts[1]);

			rows = parts[0].split("/");
			
			for(var row = 0; row < rows.length; row++){
				if(rows[row] == "8"){ // empty row
					continue;
				} else {
					chars = rows[row].split("");
					// if(cols.length != 8){
					// 	logError("row " + (row+1) + " is the wrong length: " + cols.length);
					// }

					var colNum = 0;
					for(var c = 0; c < chars.length; c++){
						if(chars[c].match(/\d/)){
							numSkips = parseInt(chars[c]);
							colNum += numSkips;
						} else {
							cellId = colNum + "_" + row;
	
							var pieceColor = "black";
							if(chars[c] == chars[c].toUpperCase()){
								pieceColor = "white";
							}
	
							imageURL = rootImageURL + "/" + pieceColor + "/" + chars[c] + ".png";
							$("#" + cellId).html("<img class='pieceImg' src='" + imageURL + "'/>");
							colNum++;
						}
					}
				}
			}

			$("#fen-input textarea").val(fen_position);
			logMsg("board loaded from fen:\n" + fen_position);

		}

		function updateTurn(str){
			var turn = "white";
			if(str == "b"){
				turn = "black";
			}

			$("#turn").html(turn);
		}
 
		function logError(err){
			$("#log").append("<span class='logmsg error'>"+err+"</span>");
		}

		function logMsg(msg){
			$("#log").append("<span class='logmsg'>" +msg+"</span>");
		}

		function ready(){
			black = false;

			for(var row = 0; row < 8; row++){
				$("#board table").append("<tr></tr>");
				for(var col = 0; col < 8; col++){
					var c;
					if(black){
						c = "black";
					} else {
						c = "white";
					}
					$("#board table tr:last").append("<td class='"+c+"' id='"+col+"_"+row+"'></td>");
					black = !black;

					if(col == 7){
						black = !black;
					}

				}

			}

			<% if @fenstring %>
				displayPosition("<%= @fenstring %>");
			<% else %>

			url = "/position";

			$.ajax({
			  url: url,
			  dataType: "jsonp",
			  success: function (data) {
			  	console.log(data);
			  	console.log(data.board );
			  	console.log(data.error);
			  	console.log(data.board == undefined);
				if(data.board == undefined){
					$("#log").append(data.error);

				} else {

					displayPosition(data.board.fen);


				}
			  }
			});

			<% end %>


			letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'];
			for(var i = 0; i < 8; i++){
				$("#colSelect").append("<option value='"+letters[i]+"'>"+letters[i]+"</option>");
				$("#rowSelect").append("<option value='"+i+"'>"+(i+1)+"</option>");
			}

			$("#highlight").submit(function(){
				$("#board td").css("outline", "none");

				col = letters.indexOf($("#colSelect").val());
				row = $("#rowSelect").val();
				console.log(col+"_"+row);
				$("#"+col+"_"+row).css("outline", "4px solid red");
				$("#clear-highlight").show();
				return false;
			});

			$("#clear-highlight").click(function(){
				$("#board td").css("outline", "none");
				$(this).hide();
				return false;
			});
		}
		document.addEventListener("DOMContentLoaded", ready, false);

		</script>
		<style>
			#board table td {
				width: 65px;
				height:65px;
			}

			table, th, td {
				border-collapse:collapse;
				border: 1px solid black;
			}
			.black {
				background-color: #000;
			}

			#board img {
				width: 60px;
				height: 60px;
			}

			#board {
				float: left;
				margin-right: 20px;

			}

			#log {
				float: left;
				font-family: courier;
				white-space: pre;
			}

			#fen-input textarea {
				width: 400px;
				height: 50px;
			}

			.error {
				color: red;
			}
			.logmsg {
				clear:both;
			}
			#turn {
				font-weight: bold;
			}
			#turnDisplay{
				font-size:24px;
			}

			body {
				min-width: 1000px;
			}

		</style>
	</head>
	<body>
		<p id="turnDisplay"><span id="turn"></span>'s turn</p>
		<div id="board">
			<table>
			</table>

		</div>
		<br style="clear;both"/>
		<form id="fen-input" method="get" action="/">
			<p><label>FEN input</label></p>
			<textarea name="f"></textarea>
			<p><input type="submit" value="display" /></p>
		</form>
		<form id="highlight">
			<p>
			<select id="colSelect"></select>
			<select id="rowSelect"></select>
			<input type="submit" value="highlight">
			<a href="#" style="display:none" id="clear-highlight">[x]</a>
			</p>
		</form>

		<p id="log"></p>
	</body>
</html>